<div id="grid">
  {% for item in site.data.grid %}
  <div class="item" id="i-{{ item.name | split: ' ' | join: '-' | downcase }}">
    {% assign a = forloop.index0 | modulo: 2 %}
    <div class="card {% if a == 0 %}even{% else %}odd{% endif %}">
      <div class="front" style="background-image: url('/assets/img/{{ item.image }}')"></div>
      <div class="back">
        <div class="name-and-date">
          <h2 class="name"><a href="{{ item.link }}">{{ item.name }}</a></h2>
          <div class="date"><a href="{{ item.link }}">{{ item.date }}</a></div>
        </div>
        <p class="description">{{ item.description }}</p>
        <div class="biglink"><a href="{{ item.link }}">Link</a></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
