<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/fa-free-5.12.0.min.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="icon" type="image/png" href="/assets/favicon/48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/assets/favicon/32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon/16.png" sizes="16x16">
</head>
